*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
}
html,body{
    height: 100%;
    width: 100%;
    color: #fff;
}

#crscr{
    height: 2vw;
    width: 2vw;
    position: fixed;
    border-radius: 50%;
    border: 1px solid #ffffffb4;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 25vh 10vw;
    background-color: #040404;
}
.line{
    /* background-color: red; */
    height: fit-content;
     overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}
.line h1{
    text-transform: uppercase;
    font-size: 6.5vw;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
   opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;


}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
  
}

#line1-part1 h5, #line1-part1 h6{
     font-size: 3vw;
     font-family: "Silk Serif";
       font-weight: 100;
}

#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

@keyframes anime{
    0%{
        font-family: "plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
          -webkit-text-stroke: 1px #fff;
          color: transparent;
          font-weight: 500;
          opacity: 1;
    }
      100%{
        font-family: "silk serif";
          -webkit-text-stroke: 1px #fff;
          color: transparent;
          font-weight: 500;
          opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw 8vw;

}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw; 
}
#nav-part2 h4{
    font-size:1vw;
    font-weight: 500;
    
}
.hero{
    /* background-color: red; */
    display: flex;
    align-items: center;
    width: 75%;
    margin-left: 25%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    z-index: 999;
}
.hero:nth-child(2){
    margin-top: 17vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    /* transition: all ease-in 0.3s;     */
}
.hero h2:hover{
   -webkit-text-stroke: 2px #fff; 
   color: transparent;
   font-weight: 400;
   border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 20vh;
    background-color: #151515;

}
#video-container{
    height: 65vh;
    width: 71vw;
    left: 28%;
    position: relative;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);

}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    top:0;
}
#video-container video{
    height: 100%;
    width: 100%;
}
#video-cursor{
    background-color: #ffa63d;
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

#video-cursor i{
    font-size: 2vw;
}
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #2d2d2d;
}